<style>

    .container-fluid {
        background-color: #2d2d2d;
        height: 20vh;
    }
    .container {
        color: white;
    }

</style>

<body>
    <div class="container-fluid">
        <div class="container text-center">
            <h1>Contact Us</h1>
        </div>
    </div>
    <!-- form.123formbuilder.com script begins here -->
    <script type="text/javascript" defer src="https://form.123formbuilder.com/embed/6184616.js" data-role="form" data-default-width="650px"></script>
    <!-- form.123formbuilder.com script ends here -->

</body>

