<head>
    <title>FPH Photography</title>
</head>

<style>

    .banner {
    height: 50vh;
    background-color: #2d2d2d;
    background-size: cover;
    background-position: center;
    position: relative;
    }

    .banner-content {
    height: 100%;
    color: white;
    justify-content: center;
    align-items: center;
    }
    .text {
        color: white;
    }

</style>

<body>

    <section id="hero" class="">
        <div class="container-fluid banner">
            <div class="row pt-5">
                <div class="container col-md-6 offset-md-1 my-auto px-5">
                    <div class="flex flex-wrap">
                        <div class="text w-full self-center pt-5 pb-4 my-auto">
                                <p class="text-base fs-1 fw-bold">FPH Photography</p>
                                <p class="fw-normal">Berbagai hasil foto yang diambil oleh FPHaikal hanya dengan smartphone</p>
                        </div>
                    </div>
                </div>
                <div class="container col-sm-2 col-lg-4 my-auto">
                    <div class="w-full self-end px-4">
                        <div class="relative mt-10">
                        <img src="properties/Artboard4.2.png" alt="" class="max-w-full" width="150"/> 
                    </div>
                </div>
            </div>
        </div>
        
            
    </section>
    
    <div class="container-fluid">
        <div class="row">
            <div class="container col-md-3">
                <a class="d-block" href="FPH Photo/Slide.jpg" data-lightbox="fphphoto" data-title="Rest Area TRAVOY KM 575 A">
                    <img src="FPH Photo/Crop.png" class="img-fluid py-5">
                </a>
            </div>
            <div class="container col-md-3">
                <a href="FPH Photo/Slide1.png" data-lightbox="fphphoto" data-title="Sinabung Hills Berastagi">
                    <img src="FPH Photo/Crop1.png" class="img-fluid py-5">
                </a>
            </div>
            <div class="container col-md-3">
                <a href="FPH Photo/Slide2.png" data-lightbox="fphphoto" data-title="Teras Malioboro 1">
                    <img src="FPH Photo/Crop2.png" class="img-fluid py-5">
                </a>
            </div>
            <div class="container col-md-3">
                <a href="FPH Photo/Slide3.png" data-lightbox="fphphoto" data-title="Mahaloka Paradise">
                    <img src="FPH Photo/Crop3.png" class="img-fluid py-5">
                </a> 
            </div>
        </div>
        
        <div class="row">

        </div>

    </div>

</body>



    
