<head>
    <title>FPH Typography</title>
</head>
<style>

    .banner {
    height: 50vh;
    background-color: #2d2d2d;
    background-size: cover;
    background-position: center;
    position: relative;
    }

    .banner-content {
    height: 100%;
    color: white;
    justify-content: center;
    align-items: center;
    }
    .text{
        color: white;
    }

</style>

<body>

<section id="hero" class="">
    <div class="container-fluid banner">
        <div class="row pt-5">
            <div class="container col-md-6 offset-md-1 my-auto px-5">
                <div class="flex flex-wrap">
                    <div class="text w-full self-center pt-5 pb-4 my-auto">
                            <p class="text-base fs-1 fw-bold">FPH Typography</p>
                            <p class="fw-normal">Berbagai foto yang diambil oleh FPHaikal dan diedit menggunakan Adobe Illustrator</p>
                    </div>
                </div>
            </div>
            <div class="container col-sm-2 col-lg-4 my-auto">
                <div class="w-full self-end px-4">
                    <div class="relative mt-10">
                    <img src="FPH Typo/FPHTypo.png" alt="" class="max-w-full" width="200"/> 
                </div>
            </div>
        </div>
    </div>
    
        
</section>

    <div class="container-fluid">
        <div class="row">
            <div class="container col-md-3">
                <a class="d-block" href="FPH Typo/Typography 1.png" data-lightbox="fphphoto" data-title="My caption">
                    <img src="FPH Typo/Typography 1.png" class="img-fluid pt-5 pb-3">
                </a>
            </div>
            <div class="container col-md-3">
                <a href="FPH Typo/Typography 2.png" data-lightbox="fphphoto" data-title="My caption">
                    <img src="FPH Typo/Typography 2.png" class="img-fluid pt-5 pb-3">
                </a>
            </div>
            <div class="container col-md-3">
                <a href="FPH Typo/Typography3.png" data-lightbox="fphphoto" data-title="My caption">
                    <img src="FPH Typo/Typography3.png" class="img-fluid pt-5 pb-3">
                </a>
            </div>
            <div class="container col-md-3">
                <a href="FPH Typo/Typography4.png" data-lightbox="fphphoto" data-title="My caption">
                    <img src="FPH Typo/Typography4.png" class="img-fluid pt-5 pb-3">
                </a>  
            </div>
            <div class="container col-md-3">
                <a href="FPH Typo/Typography5.png" data-lightbox="fphphoto" data-title="My caption">
                    <img src="FPH Typo/Typography5.png" class="img-fluid pb-5">
                </a>  
            </div>
        </div>
        
        <div class="row">

        </div>

    </div>

</body>



    
