<head>
    <title>Maintenance</title>
</head>
<style>
    .banner {
        height: 100vh;
    }
</style>

<body>
    <div class="container-fluid banner">
        <div class="container text-center">
            <img src="properties/Maintenance.webp" class="text-center col-lg-4">
            <p class="fs-1 fw-bold">Halaman Sedang Dalam Perbaikan</p>
            <p class="fs-4 fw-normal">Kembali Lagi Nanti</p>
            <a class="btn btn-outline-dark" href="index.php?page=home" role="button">Home ></a>
        </div>
    </div>  
</body>
